<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Numero de Orden"
        [(ngModel)]="guideNumber"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Buscar
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Lista de Ordenes</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let tutorial of tutorials; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveTutorial(tutorial, i)"
      >
        {{ tutorial.guideNumber }}
      </li>
    </ul>

  </div>
</div>
